{% extends "layout.html" %}

{% block content %}
<style>
  body {
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* width: 50%; */
    /* height: 50% */
  }

  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

</style>
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="./static/images/20180325_074040.jpg"
                     alt="">
                <rect width="100%" height="100%" fill="#777"/>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <!-- <h1>Admin</h1> -->
                        <!-- <p>Manage user account.</p> -->
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Setting</a></p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="./static/images/20180325_073831.jpg"
                     alt="">
                <rect width="100%" height="100%" fill="#777"/>
                <div class="container">
                    <div class="carousel-caption">
                        <!-- <h1>About Lucky.</h1>
                        <p>Blog about life of Lucky the Schnauzer.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
                <img class="bd-placeholder-img" width="100%" height="100%" src="./static/images/20180325_073835.jpg"
                     alt="">
                <rect width="100%" height="100%" fill="#777"/>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <!-- <h1>Gallery</h1>
                        <p>All photos of Lucky, such a cute puppy!</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
                <img class="bd-placeholder-img" width="100%" height="100%" src="./static/images/20180407_143711.jpg"
                     alt="">
                <rect width="100%" height="100%" fill="#777"/>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <!-- <h1>Gallery</h1>
                        <p>All photos of Lucky, such a cute puppy!</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="album py-5 bg-light">
        <div class="container-sm">
            {% for post in Posts %}
            <div class="row">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <div style="font-size:1.5rem;width:100%;text-align:center;">🐵 🐅 🐆 🦍 🐶 🐕 🐺 🦊 🐱 🦓 🐷 🐏 🦙 🦏 🐰 🐨 🐼</div>
                        <iframe class="bd-placeholder-img card-img-top"
                                src="{{ post.image_path }}"
                                width="100%" height="480"></iframe>
                        <h3 class="card-text text-primary mb-3"> {{ post.description }}</h3>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            {% if session['username'] %}
                            <a class="btn btn-danger active bg-light" role="button" aria-pressed="true" href="/delete/{{ post.post_id }}">🗑</a>
                            {% endif %}
                            <h6 class="text-info"> updated @ {{ post.updated_at.strftime('%Y/%m/%d %H:%M:%S') }} </h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe class="bd-placeholder-img card-img-top"
                                src="https://drive.google.com/file/d/1dHGjrrTNjBcmRkigj6e5lUgS2wHnVIrM/preview"
                                width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 8, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe class="bd-placeholder-img card-img-top"
                                src="https://drive.google.com/file/d/1f5ozdcy6YYwfY1gnUgg-zY1sV5GazC_S/preview"
                                width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 8, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1FK7bGLbOqABgBh0Stsfo0Z0Hs48JYvSG/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 8, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1NuN90Z8hHd6VB6phQhEf3KCeYxRZIPfd/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 8, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1r3F8qgyYNTT16f1_OJG2sYdkmT-THYWO/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 7, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1M73yvLEvvZlR1fiaK1CUkRyxxRFZu-zQ/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Took a walk on a sunny autumn morning. November 7, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1sE0G9wM1M3IVg-azMeAjsZ0rpr1h3XfA/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Weekend in the Gaettong-ine campsite. September 11, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1PoQa3rmf_6TGJLFjMRL3lFLrs8nxSwfl/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Weekend in the Gaettong-ine campsite. September 11, 2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe src="https://drive.google.com/file/d/1Skin7hr9ZuJRLO931znoakqAbR8wBQsI/preview"
                                class="bd-placeholder-img card-img-top" width="100%" height="225"></iframe>
                        <div class="card-body">
                            <p class="card-text">Lucky in the moonlight, Night view in the Hope Park. August 23,
                                2020</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <iframe width="100%" height="225" src="https://www.youtube.com/embed/OgjTee1-POs"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Saturdat morning in the Sky Park. October 27, 2018</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
