{% extends "layout.html" %}

{% block content %}

<div class="container-sm mt-5">

    <h4 class="mb-3">Upload File Path</h4>

    <form method="POST" enctype="multipart/form-data" role="form" class="needs-validation" novalidate>
        <div class="col mb-3">
            <label for="description" class="sr-only">Description</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Description" required autofocus>
            <div class="invalid-feedback">
                Valid description is required.
            </div>
        </div>

        <div class="col mb-3">
            <label for="image_path" class="sr-only">File Path</label>
            <input type="text" name="image_path" id="image_path" class="form-control" placeholder="Image Path" required autofocus>
            <div class="invalid-feedback">
                Valid Image Path is required.
            </div>
        </div>

        <button class="mx-auto col-3 btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>

{% endblock %}
